@keyframes flyAcross {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateX(120vw) translateY(-10vh) rotate(10deg);
      opacity: 0.8;
    }
  }
  
  .flying-bird {
    animation-name: flyAcross;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @import 'tailwindcss'
  